.panel {
    background-color: #c0c0c0;
    height: 35px;
    box-shadow: inset 1.5px 1.5px 0px 0px #7b7b7b, inset -1.5px -1.5px 0px 0px #fff;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.timer {}

.count_mines {}

.numbers_bg {
    background-color: black;
    display: flex;
    height: fit-content;
}