* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: blue;
}

:root {
  /* Sprite */
  --sprite-bg-size: auto;
  /* Cell */
  --cell-width: 16px;
  --cell-height: 16px;
  --cell-y-pos: -51px;
  /* Count */
  --count-width: 16px;
  --count-height: 16px;
  --count-y-pos: -68px;
  /* Number */
  --num-width: 14px;
  --num-height: 24px;
  --num-y-pos: .5px;
  /* Smile */
  --smile-width: 27px;
  --smile-height: 27px;
  --smile-y-pos: -24px;
  /* Size board */
  --size-board: 16;
}

.border {
  padding: 1.5px 1.5px;
  border: 10px solid #bdbdbd;
  box-shadow: 1px 1px 0px 1px #7b7b7b, -1px -1px 0px 1px #fff, inset 3px 3px 0px 0px #7b7b7b, inset -3px -3px 0px 0px #fff;
}